body {
  background-color: #211103;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Jetons : F1AB86 & 9CAFB7 */

.board {
  background-color: #f1ab86;
  /* border-radius: 10px; */
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  width: 100px;
  height: 100px;
  border: 1.5px solid #dc7118;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.table td:hover {
  background-color: #dc7118;
}
