body {
  background-color: #211103;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: auto;
  margin: 0;
  font-size: 24px;
}

h1 {
  font-size: 36px;
  color: #dc7118;
  margin: 0;
}
h2 {
  font-size: 24px;
  color: #dc7118;
  margin: 0;
}

.gameSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}

/* BOARD */
.board {
  background-color: #f1ab86;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  width: 100px;
  height: 100px;
  border: 1.5px solid #dc7118;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
  border-radius: 100px;
}

.j1 {
  background-color: #71a9f7;
}
.j2 {
  background-color: #c6d8ff;
}

/* SELECTORS */
.player_1,
.player_2,
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

select {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 0px;
  background-color: #f1ab86;
  padding: 5px 10px;
  color: #211103;
}
select:hover {
  background-color: #e9955d;
}
select option {
  padding: 5px;
}

input {
  background-color: #dc7118;
  border: 0;
  border-radius: 50px;
  padding: 10px;
  color: #211103;
}
input:hover {
  background-color: #e9955d;
}

/* ANNOUCEMENTS */

.annoucements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.newGame {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  padding-bottom: 20px;
  text-align: center;
}

.newGame a {
  text-decoration: underline;
  color: #dc7118;
}

.null {
  margin-top: 5px;
  text-align: center;
}

.player_win {
  margin-top: 5px;
  text-align: center;
}
