body {
  background-color: #211103;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 100vh;
  margin: 0;
  font-size: 24px;
}

h1 {
  font-size: 36px;
  color: #dc7118;
  margin: 0;
}

/* BOARD */
.board {
  background-color: #f1ab86;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  width: 100px;
  height: 100px;
  border: 1.5px solid #dc7118;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
  border-radius: 100px;
}

.j1 {
  background-color: #71a9f7;
}
.j2 {
  background-color: #c6d8ff;
}

/* SELECTORS */
.player_1,
.player_2,
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

select {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 0px;
  background-color: #f1ab86;
  padding: 5px 10px;
  color: #211103;
}
select:hover {
  background-color: #e9955d;
}
select option {
  padding: 5px;
}

input {
  background-color: #dc7118;
  border: 0;
  border-radius: 50px;
  padding: 10px;
  color: #211103;
}
input:hover {
  background-color: #e9955d;
}
