body {
  background-color: #211103;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 100vh;
  margin: 0;
  font-size: 24px;
}

/* BOARD */
.board {
  background-color: #f1ab86;
  /* border-radius: 10px; */
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  width: 100px;
  height: 100px;
  border: 1.5px solid #dc7118;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.table td:hover {
  background-color: #dc7118;
}

.j1 {
  background-color: #f1ab86;
}
.j2 {
  background-color: #9cafb7;
}

/* SELECTORS */
select {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dc7118;
  background-color: #f1ab86;
  padding: 5px;
}

select option {
  padding: 5px;
}
